@use "/styles/utils" as u;

$header-row-spacing: 1rem;
$in-between-column-spacing: 1.75rem;
$text-extra-padding: 1rem;

.compareTable {
  height: 100%;
  width: calc(100% - u.$content-x-margin-small * 2);

  .compareTableBackground {
    background: rgba(u.$black, 0.65);
    height: 100%;
    display: flex;
    padding: 1rem 2rem 0.5rem 2rem;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: u.$secondary-dark;
      border-radius: 100px;
    }
    // ::-webkit-scrollbar-thumb:hover {
    //   background: #37ff00;
    // }
    &::-webkit-scrollbar-thumb:active {
      background: u.$primary-light;
    }
    &::-webkit-scrollbar-track {
      background: u.$off-white;
      border-radius: 100px;
    }
    // ::-webkit-scrollbar-track:hover {
    //   background: #f01414;
    // }
    // ::-webkit-scrollbar-track:active {
    //   background: #000000;
    // }
    &::-webkit-scrollbar-corner {
      background: transparent;
    }

    .headerColumnContainer {
      display: flex;
    }
    .flatColumnList {
      display: flex;
    }
  }
}

.column {
  display: flex;
  flex-flow: column;

  .headerSection {
    flex: 0.9;
    display: flex;
    align-items: center;
  }
  .contentSection {
    display: flex;
    flex-flow: column;
    flex: 8.5;

    .flatType {
      flex: 0.75;
      // background: green;
      display: flex;
      align-items: center;
    }
    .amenities {
      flex: 4.75;
      // background: red;
    }
    .customLocation {
      flex: 1.25;
      // background: green;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    .price {
      flex: 1.75;
      // background: red;
    }
    .estimate {
      flex: 1.5;
      // background: green;
    }
  }
  .endSection {
    flex: 0.6;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}

.header {
  width: 8rem;

  .rowHeader {
    // text-align: right;
    font-family: "Roboto-Bold";
    letter-spacing: 0.25px;
    font-size: u.$default;
    color: u.$grey;
    display: flex;
    align-items: center;
  }

  .location {
  }
  .flatType {
  }
  .amenities {
  }
  .customLocation {
  }
  .price {
  }
  .estimate {
  }
  .actions {
  }
}

.flat {
  padding: 0 calc($in-between-column-spacing / 2);
  width: 27.5rem;

  .location {
    font-family: "Roboto-Medium";
    font-size: u.$xx-big;
    line-height: 135%;
    padding: 0 $text-extra-padding;
    color: #fff;
  }
  .flatType {
    padding: 0 $text-extra-padding;
    font-size: u.$default;
    color: #fff;
  }
  .amenities {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .mapContainer {
      width: 100%;
      height: 65%;
    }

    .mapInfoCard {
      padding: 0.75rem $text-extra-padding 0.75rem $text-extra-padding;
      width: 100%;
      height: 40%;
      background: u.$off-white;

      .amenityListContainer {
        overflow-y: auto;
        height: 100%;
        max-height: 7rem;

        &::-webkit-scrollbar {
          width: 3px;
          height: 3px;
        }
        &::-webkit-scrollbar-thumb {
          background: u.$secondary-dark;
          border-radius: 100px;
        }
        // ::-webkit-scrollbar-thumb:hover {
        //   background: #37ff00;
        // }
        &::-webkit-scrollbar-thumb:active {
          background: u.$primary-light;
        }
        &::-webkit-scrollbar-track {
          background: u.$off-white;
          border-radius: 100px;
        }
        // ::-webkit-scrollbar-track:hover {
        //   background: #f01414;
        // }
        // ::-webkit-scrollbar-track:active {
        //   background: #000000;
        // }
        &::-webkit-scrollbar-corner {
          background: transparent;
        }
      }
    }
  }
  .customLocation {
    color: #fff;
    padding: 0 $text-extra-padding;
  }
  .price {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: u.$primary-dark;
    border-radius: 2px;
    padding: 0 $text-extra-padding;
  }
  .estimate {
    display: flex;
    align-items: center;
    justify-content: center;
    background: u.$primary-dark;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.add.column {
  padding: 0 calc($in-between-column-spacing / 2);
  width: 20rem;

  .contentSection {
    justify-content: center;

    .addContainer {
      border-radius: 4px;
      height: 50%;
      width: 100%;

      .addInfo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .addCircleIcon {
          border: 3px solid u.$white;
          border-radius: 50%;
          height: 4rem;
          width: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          color: u.$black;
          background: u.$white;
        }
        .addText {
          margin-top: 1rem;
          color: u.$off-white;
          font-size: u.$default;
        }
      }

      .addList {
        height: 100%;
        background: rgba(u.$grey, 0.1);
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 4px;
          height: 4px;
        }
        &::-webkit-scrollbar-thumb {
          background: u.$secondary-dark;
          border-radius: 100px;
        }
        // ::-webkit-scrollbar-thumb:hover {
        //   background: #37ff00;
        // }
        &::-webkit-scrollbar-thumb:active {
          background: u.$primary-light;
        }
        &::-webkit-scrollbar-track {
          background: u.$off-white;
          border-radius: 100px;
        }
        // ::-webkit-scrollbar-track:hover {
        //   background: #f01414;
        // }
        // ::-webkit-scrollbar-track:active {
        //   background: #000000;
        // }
        &::-webkit-scrollbar-corner {
          background: transparent;
        }
      }
    }
  }
}