@use "/styles/utils" as u;

.distanceResults {
  display: flex;

  .distanceOutput {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: u.$xx-big;
    min-width: 2.5rem;
    padding: 0 0.5rem;
    border-bottom: 1px solid u.$primary-accent;
  }

  .distanceMeasurement {
    font-size: u.$default;
    margin-left: 0.5rem;
    display: inline-flex;
    align-items: center;
  }
}