@use "/styles/utils" as u;

.mainForm {
  width: calc(30% + 10rem);
  display: flex;
  flex-flow: column;
  align-items: center;

  .submit {
    margin-top: 1rem;
    padding: 0.75rem 3rem;
    border-radius: 100px;
    font-family: "Quicksand";
    font-variation-settings: 'wght' 600;
    background-color: u.$primary-light;
    color: u.$white;
    box-shadow: 0px 6px 24px rgba(u.$primary-light-shadow, 0.5);
    align-self: center; // to set its width according to its horizontal padding without setting explicit width property
    cursor: pointer;
  }

  .mainFormFieldContainer {
    width: 100%;
    margin: 0 0 1rem 0;
  }

}

