@use "/styles/utils" as u;

$formFieldHeight: 3rem;
$formBorderRadius: 5px;
$arrowSize: 0.5rem;

.mainFormField {
  display: flex;
  flex-flow: column;
  position: relative;

  label {
    color: u.$grey;
    font-family: "Roboto-Bold";
    font-size: u.$x-small;
    margin-bottom: 0.25rem;
  }

  input, select {
    padding: 0 0.75rem;
    font-size: u.$x-big;
    height: $formFieldHeight;
    width: 100%;
    border-radius: $formBorderRadius;
    color: u.$black;
    // -moz-appearance:none; /* Firefox */
    // -webkit-appearance:none; /* Safari and Chrome */
    appearance: none;
  }

  select {
    text-align: center;
    padding-right: $formFieldHeight;
    position: relative;
    background: url("../public/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: calc(100% - ($formFieldHeight - $arrowSize) * 0.5);
    z-index: 2;
  }

  .selectBg {
    position: absolute;
    bottom: 0;
    background: linear-gradient(90deg, u.$white calc(100% - $formFieldHeight * 1.1), u.$primary-dark calc(100% - $formFieldHeight * 1.1));
    width: 100%;
    height: $formFieldHeight;
    border-radius: $formBorderRadius;
    z-index: 1;
  }
}