$white: #fff;
$off-white: #F4f4f4;
$grey: #AFAFAF;
$off-grey: #888888;
$black: #000;
$primary-light: #119DA4;
$primary-dark: #133D5B;
$primary-accent: #EF8237;
$secondary-light: #0C7489;
$secondary-dark: #13505B;
$secondary-accent: #6E1E1E;

$xx-small: 0.75rem; // 12px
$x-small: 0.875rem; // 14px
$default: 1rem;     // 16px
$x-big: 1.25rem;    // 20px
$xx-big: 1.5rem;    // 24px
$xxx-big: 1.875rem; // 30px
$xxxx-big: 2.25rem; // 36px

$header-height: 60px;
$main-height: calc(100vh - $header-height);
$content-x-margin-default: 12%;
$content-x-margin-small: 6%;