@use "utils" as u;

.pageContainer {
  display: flex;
  flex-flow: column;

  .headerContainer {
    background-color: u.$primary-dark;
    height: u.$header-height;
  }

  .mainContainer {
    height: u.$main-height;
    // background-color: u.$black;

    .bgContainer {
      z-index: -1;
      position: fixed;
      height: 100%;
      width: 100%;
      img {
        filter: blur(5px);
      }
    }

    main {
      height: 100%;
      position: relative;
      display: flex;
      flex-flow: column;

      .pageTitleContainer {
        background: linear-gradient(180deg, u.$primary-dark 0%, rgba(u.$primary-dark, 0.85) 100%);
        padding: 1.5rem 0 1.35rem 0;
        display: flex;
        flex-flow: column;
        align-items: center;

        .pageTitle {
          font-family: "Poppins-Regular";
          font-size: u.$xxx-big;
          color: u.$white;
        }

        .pageSubtitle {
          font-size: u.$xx-small;
          color: u.$grey;
          line-height: 160%;
          letter-spacing: 0.1px;
        }
      }

      .pageContentContainer {
        flex: 1; // to fill up the space not taken by pageTitleContainer
        background: linear-gradient(180deg, rgba(u.$black, 0.6) 60%, rgba(u.$black, 0.8) 100%);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
